*{
    margin:  0px;
    padding: 0px;
}
body{
    background: rgb(160, 40, 190);
    /* background: linear-gradient(111deg, rgb(88, 13, 107) 0%, rgba(11, 47, 167, 0.425) 100%); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    width: 80%;
    height: 80%;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius:10px;
    background: inherit;
    overflow: hidden;
    z-index: -1;

    display: flex;
    flex-direction: column;
}


.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(133, 191, 238, 0.5);
    filter: blur(10px);
    margin: -20px; 
  }
  .container .conte_tp ul {
    list-style: none;
    display: flex;
    color: white;
    padding: 0;
    float: left;  
    margin-left: 77%;
}

.container .conte_tp ul li {
  padding: 0 15px;
  display: flex;
  align-items: center;
  float: left;
  
}

.container .conte_tp ul li.active{
    background:#FC8828;
    justify-content: center;
    padding: 3px 15px;
    border-radius: 0 10px;
}
 .container .conte_tp{
    display:flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold;
        
 }


 .container section img{
     position: absolute;
     display: flex;
     width: 23%;
     top: 15%;
     left: 55%;
 }

 .container section .text {
     justify-content: center;
     top: 75%;
     color: white;
     border: red 1px solid;
     justify-content: center;
     position: relative;
     
 }